@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}


[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}


[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

span.elision{
	margin: .5em;
	margin-left: 3em;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: left;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

abbr.era{
	font-variant: all-small-caps;
}

ul {
	list-style-type: none;
}