@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

q i{
	font-style: normal;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

q{
	font-style: italic;
}

[epub|type~="se:temperature"]{
	font-variant: all-small-caps;
}

/* LETTERS */
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

/* LETTERS */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

span.elision{
	margin: .5em;
	margin-left: 3em;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

/* POEM, ENGINE, CAT-SHAPED */
p.ascii-art{
	font-size: 0.75em;
	line-height: 1;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-inside: ;
}

p.ascii-art:nth-of-type(2){
	margin-top: 1em;
	padding-left: 7.5em;
}

p.ascii-art:nth-of-type(3){
	margin-top: 1em;
	padding-left: 2em;
}

p.ascii-art:first-of-type span:first-of-type{
	padding-left: 0;
}

p.ascii-art:first-of-type span:nth-of-type(2){
	padding-left: 0.5em;
}

p.ascii-art:first-of-type span:nth-of-type(3){
	padding-left: 1em;
}

p.ascii-art:first-of-type span:nth-of-type(4){
	padding-left: 1.5em;
}

p.ascii-art:first-of-type span:nth-of-type(5){
	padding-left: 2em;
}

p.ascii-art:first-of-type span:nth-of-type(6){
	padding-left: 2.5em;
}

p.ascii-art:first-of-type span:nth-of-type(7){
	padding-left: 3em;
}

p.ascii-art:first-of-type span:nth-of-type(8){
	padding-left: 3.5em;
}

p.ascii-art:first-of-type span:nth-of-type(9){
	padding-left: 4em;
}

p.ascii-art:first-of-type span:nth-of-type(10){
	padding-left: 4.5em;
}

p.ascii-art:first-of-type span:nth-of-type(11){
	padding-left: 5em;
}

p.ascii-art:first-of-type span:nth-of-type(12){
	padding-left: 5.5em;
}

p.ascii-art:first-of-type span:nth-of-type(13){
	padding-left: 6em;
}

p.ascii-art:nth-of-type(2) span:first-of-type{
	padding-left: 0;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(2){
	padding-left: 0.5em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(3){
	padding-left: 1em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(4){
	padding-left: 1.5em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(5){
	padding-left: 2em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(6){
	padding-left: 2.5em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(7){
	padding-left: 3em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(8){
	padding-left: 3.5em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(9){
	padding-left: 4em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(10){
	padding-left: 4.5em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(11){
	padding-left: 4.5em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(12){
	padding-left: 4.5em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(13){
	padding-left: 3em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(14){
	padding-left: 2.5em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(15){
	padding-left: 1.5em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(16){
	padding-left: 2.50em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(17){
	padding-left: 3em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(18){
	padding-left: 3.50em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(19){
	padding-left: 4em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(20){
	padding-left: 4.5em;
}

p.ascii-art:nth-of-type(2) span:nth-of-type(21){
	padding-left: 5em;
}
